body {
    font-family: 'Concert One', cursive;
    background-color: rgb(201, 131, 201);
    border-style: double;
    border-width: 2px;
}

h1 {
    text-shadow: 4px 4px 4px #aaaaaa;
    text-align: center;
    border: 2px dotted green;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
